* {
    margin: 0;
    padding: 0;
    

}

body {
    background-color: rgb(94, 94, 224);

}



.main {
   
    text-align: center;
    border-right: 3px rgb(78, 106, 37) solid;
    height: 100%;
}

input {
    border-radius: 3px;
    margin-top: 20px;
    height: 20px;
    width: 150px;
    border: none;
    outline: none;
}


button {
    border: none;
    height:20px;
    padding: 2px 8px;
    border-radius: 3px;
    background-color: orange;
    color: white;
}

ul {
    padding: 10px;
    list-style: none;
    text-align: center;
}


li {

    margin-top: 10px;
    padding: 2px 10px;
    width: 200px;
    background-color: white;
}


.todo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}